.QutionCard {
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px #0129701a;
  border-radius: 5px;
}
.QuestionDetils {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.dvider {
  border-bottom: 1px solid #0005;
  width: 80%;
  max-width: 80%;
  margin: auto;
}
.dvider:last-child {
  border-bottom: none;
}
